@import url(https://fonts.googleapis.com/css?family=Oxanium:200,300,regular,500,600,700,800);
@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0914;
  color: #fafafa;
  font-family: "Cyber", sans-serif;
  font-weight: 100;
  overflow-y: scroll;
}

button,
button::after {
  width: 120px;
  height: 30px;
  font-size: 1rem;
  font-family: "Cyber";
  color: #bdf9a1;
  outline: transparent;
  position: relative;
  border: 1px solid #bdf9a1;
  box-shadow: 0 0 3px #bdf9a1;
  background-color: transparent;
  border-radius: 5px;
}

.contact-btn {
  box-shadow: none;
  background-color: #bdf9a1;
  color: #0f0914;
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}
