<header>
  <div class="logo"><span>PC</span>RENTALS</div>
  <div class="links">
    <a href="/" class="header_link">Home</a>
    <a href="/about" class="header_link">About Us</a>
    <a href="/services" class="header_link">Services</a>
    <a href="/gallery" class="header_link">Gallery</a>
    <a href="/contact" class="header_link">Contact</a>
  </div>
  <div class="cta">
    <button class="apply-btn">Apply Now</button>
    <button class="contact-btn">Contact Us</button>
  </div>
</header>

<script>
  window.addEventListener("scroll", () => {
    const header = document.querySelector("header");
    if (window.scrollY > 0) {
      header.style.backgroundColor = "rgb(17, 10, 20, .75)";
    } else {
      header.style.backgroundColor = "#100914";
    }
  });
</script>

<style>
  header {
    background-color: rgb(17, 10, 20);
    backdrop-filter: blur(1.25rem);
    transition: background-color 1s;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0 7.5rem;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    .logo {
      font-size: 1.5rem;
      font-family: "Oxanium";
      span {
        color: #bdf9a1;
        font-weight: 700;
      }
    }
    .links {
      display: flex;
      gap: 2rem;
      justify-content: center;
      .header_link {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        &:hover {
          color: #f7f7f7;
        }
      }
    }
    .cta {
      display: flex;
      gap: 1rem;
      justify-self: end;
    }
  }
</style>
